In [3]:
# Get data
import pandas as pd


df = pd.read_csv("datasets/NTAD_National_Bridge_Inventory_2178055625219331056.csv")

df.head()

C:\Users\mikbo\AppData\Local\Temp\ipykernel_2160\914043310.py:5: DtypeWarning: Columns (99) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/NTAD_National_Bridge_Inventory_2178055625219331056.csv")

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
0,290899,29,1,1,3,1,00006,0,1,21,...,29,F,6,1755.60,AM,1202,39.776933,-94.793517,-94.793517,39.776933
1,290900,29,10,1,2,1,00036,0,1,25,...,29,F,5,158.08,AM,1202,39.735267,-93.940350,-93.940350,39.735267
2,290901,29,100,1,1,1,00029,0,3,165,...,29,P,4,225.06,AM,303,39.466333,-94.787725,-94.787725,39.466333
3,290902,29,1000,1,2,1,00060,0,6,77,...,29,F,5,1938.44,AM,303,37.124864,-93.226503,-93.226503,37.124864
4,290903,29,10000,1,3,1,00076,0,7,67,...,29,F,5,111.60,AM,1202,36.972156,-92.429808,-92.429808,36.972156

In [ ]:
# Scatter -- Year built vs Condition

In [ ]:
# Box plot by condition

In [ ]:
# Scatter -- ADT vs Load rating by condition